<!-- <div class="row"> -->
  <div class="col-xs-12 edit">
    <form>

      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Activity</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="completed">Completed?</label>
          <input
            type="checkbox"
            id="completed"
            class="form-control"
            #completedInput>
        </div>
      </div>

      <!-- <div class="row"> -->
        <div class="col-xs-12 buttons">
          <button class="bucket-list-edit" type="button" (click)="onAddBucketListItem()">Add</button>
          <button class="bucket-list-edit" type="button">Delete</button>
          <button class="bucket-list-edit" type="button">Clear</button>
        </div>
      <!-- </div> -->

    </form>
  </div>
<!-- </div> -->
