<div class="row">
  <div class="col-xs-12">
    <img
      src="{{trip.imagePath}}"
      alt="{{trip.title}}"
      class="img-responsive trip-detail"
      style="max-height: 275px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1 class="title">{{trip.title}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Trip
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Checklist</a></li>
        <li><a href="#">Edit Trip</a></li>
        <li><a href="#">Delete Trip</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="xs-12">
    {{trip.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
