<nav class="navbar navbar-expand fixed-bottom">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item text-center" (click)="onSelect('trip')">
        <img src="../../assets/map.svg" alt="Animated Map" width="25px">
        <a class="nav-link" href="#">Trips</a>
      </li>
      <li class="nav-item text-center" (click)="onSelect('bucket-list')">
        <img src="../../assets/list.svg" alt="Animated List" width="25px">
        <a class="nav-link" href="#">Bucket List</a>
      </li>
      <li class="nav-item text-center">
        <img src="../../assets/save.svg" alt="Animated Heart" width="25px">
        <a class="nav-link" href="#">Save</a>
      </li>
      <li class="nav-item text-center">
        <img src="../../assets/fetch.svg" alt="Animated Up Arrow" width="25px">
        <a class="nav-link" href="#">Fetch Data</a>
      </li>
    </ul>
</nav>

